<div class="editar-form" style="display: none;" data-id="{{@index}}">
                <form class="form-editar-precio">
                    <input class="my-2" type="text" value="{{precio}}" name="nuevoPrecio" />
                    <button type="submit" class="btn btn-sm btn-info">Guardar</button>
                </form>
</div>